<config>
    <name>XXXXX配置场景</name>
    <!--如果原配置信息不是默认，是否覆盖-->
    <ifrestore>True</ifrestore>
    <!--完成后是否保存配置资源-->
    <ifSaveSource>True</ifSaveSource>
    <checkLanguage>cn</checkLanguage>
    <UserInfo>
        <username>admin</username>
        <password>Smbtest00</password>
    </UserInfo>
    <!--设备信息-->
    <DeviceInfo>
        <MaxDeviceNum>32</MaxDeviceNum>
        <deviceName>示例设备</deviceName>
        <IPRange>206.10.0.0</IPRange>
        <Port>80</Port>
        <deviceUsername>admin</deviceUsername>
        <devicePassword>Smbtest00</devicePassword>
    </DeviceInfo>
    <DepartmentInfo>
        <name>我的公司名字叫12345678ABCDEF</name>
        <maxNumAllDp>5000</maxNumAllDp>
        <maxNumEachDp>500</maxNumEachDp>
    </DepartmentInfo>
    <!--人员信息格式模板-->
    <PersonInfo>
        <PersonID>jys%s0000000%s</PersonID>
        <Name>jys%s0000000%sABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuv</Name>
        <GenderRangeMin>0</GenderRangeMin>
        <GenderRangeMax>2</GenderRangeMax>
        <IDNo>jys%s00IDNO00000%s</IDNo>
        <ICCardNo>jys%s00ICNO00000%s</ICCardNo>
        <DateOfBirth>%s/%s/%s</DateOfBirth>
        <PhoneRangeMin>11100000000</PhoneRangeMin>
        <PhoneRangeMax>19000000000</PhoneRangeMax>
        <Department>null</Department>
        <Address>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz!@#$%^]*()-_</Address>
        <PhotoNum>6</PhotoNum>
    </PersonInfo>
    <!--人员照片-->
    <PersonPicture>
        <zipFileSize>500</zipFileSize>
    </PersonPicture>
    <!--授权配置-->
    <Authorize>
        <DeviceRange>(1,32)</DeviceRange>
        <personRange>(1,5000)</personRange>
    </Authorize>
    <!--考勤配置-->
    <Access>
        null
    </Access>
</config>