<?xml version='1.0' encoding='utf-8'?>
<config>
    <name>XXXXX配置场景</name>
    
    <ifrestore>False</ifrestore>
    
    <ifSaveSource>False</ifSaveSource>
    <checkLanguage>cn</checkLanguage>
    <UserInfo>
        <username>admin</username>
        <password>Smbtest00</password>
    </UserInfo>
    
    <DeviceInfo>
        <MaxDeviceNum>32</MaxDeviceNum>
        <deviceName>示例设备</deviceName>
        <VLAN>206.10.10.0</VLAN>
        <LONG>24</LONG>
        <Port>80</Port>
        <deviceUsername>admin</deviceUsername>

        <devicePassword>Dbckl4A3AsqW/e1zslLUSg==</devicePassword>
    </DeviceInfo>
    <DepartmentInfo>
        <name>我的公司名字叫12345678ABCDEF</name>
        <maxNumAllDp>5000</maxNumAllDp>
        <maxNumEachDp>500</maxNumEachDp>
    </DepartmentInfo>
    
    <PersonInfo>
        <PersonID>jys%s000000%s</PersonID>
        <Name>jys%s000000%sABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuv</Name>
        <GenderRangeMin>0</GenderRangeMin>
        <GenderRangeMax>2</GenderRangeMax>
        <IDNo>jys%s00IDNO00000%s</IDNo>
        <ICCardNo>jys%s00ICNO00000%s</ICCardNo>
        <DateOfBirth>%s/%s/%s</DateOfBirth>
        <PhoneRangeMin>11100000000</PhoneRangeMin>
        <PhoneRangeMax>19000000000</PhoneRangeMax>
        <Department>null</Department>
        <Address>ABCDEFGHIJKLMNOPQRSTUVWXYabcdefghijklmnopqrstuvwxyz!@#$%^]*()-_</Address>
        <Remark>ABCDEFGHIJKLMNOPQRSTUVWXYabcdefghijklmnopqrstuvwxyz!@#$%^]*()-_</Remark>
        <PhotoNum>6</PhotoNum>
    </PersonInfo>
    
    <PersonPicture>
        <zipFileSize>500</zipFileSize>
        <eachZipNum>1017</eachZipNum>
    </PersonPicture>
    
    <Access>
        <name>示例授权组</name>
        <deviceRange>(0,1)</deviceRange>
        <personRange>(0,10)</personRange>
    </Access>
    
    <Attandance>
        null
    </Attandance>
</config>