# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
!/Data/Person/Photo/clonfile/PhotoZip5.zip
!/Data/Person/Photo/clonfile/PhotoZip2.zip
!/Data/Person/Photo/clonfile/PhotoZip4.zip
!/Data/Person/Photo/clonfile/PhotoZip3.zip
!/Data/Person/Photo/clonfile/PhotoZip1.zip
